/* Datepicker styles */

.datepicker {
  position: relative;
  width: 350px;

  .calendar {
    border: 0.1rem solid #d1d1d1;
    border-radius: 5px;
    padding: 1rem;
    transition-property: opacity;
    transition-duration: 75ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      justify-items: center;
      align-items: center;

      .toggles {
        margin-top: 3px;
        display: flex;
        flex-direction: row;

        button {
          padding: 0 1.0rem;

          &.disabled {
            cursor: not-allowed;
            background-color: #606c76;
          }
        }
      }
    }

    .weekdays {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;

      .day {
        text-align: center;
        font-weight: 500;
      }
    }

    .monthdays {
      display: flex;
      flex-wrap: wrap;
      margin-top: 4px;

      .day {
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;

        &.selectable {
          cursor: pointer;

          &:hover {
            background-color: #0069D9;
            color: white;
            border-radius: 5px;
          }
        }

        &.unselectable {
          color: #bdbdbd;
          cursor: not-allowed;
        }
      }
    }
  }

  .icon {
    position: absolute;
    top: 6px;
    right: 8px;

    svg {
      height: 25px;
      width: 25px;
      color: #aaaaaa;
    }
  }
}
